@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/book_home.png" style="width: 350px; height: 320px;" />
    <br>
    <h1 class="display-4">Welcome</h1>
    <p><a asp-area="" asp-controller="Books" asp-action="Index">See the whole list of books!</a></p>
</div>
